<%- include("partials/header") -%>
    <h1>Compose</h1>
    <form action="/9021fesaserfa739fadsfaeafwa719hfriuamnoim56346565755645364xiemai" method="post">
        <div class="from-group">
            <label for="title">Title</label>
            <textarea class="form-control" name="postTitle" id="" cols="150" rows="1"></textarea>
        </div>
        <div class="from-group">
            <label for="postBody">post</label>
            <textarea class="form-control" rows="5" cols="30" name="postBody"></textarea>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Publish</button>

    </form>
    <%- include("partials/footer") -%>